* {
    box-sizing: border-box;
}

h1 {
    font-family: cursive;
   font-weight: bolder;
    color: #000000;
}

body {
    background-color: #25cbc8;

}

p {
    padding: 10px;
    margin: 0;
}

.container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

section {
    border: 3px solid rgb(77, 46, 87);
    background-color: #d19372bd;
    width: 100%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: relative;
    overflow: auto;
}

#chicken {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #ff00d9;
}

#beef {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #14ffd0;
}

#sushi {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #b7bcc6;
    color: rgb(8, 8, 8);
    padding: 5px;
}

#chicken-div {
    margin-bottom: 10px;
    margin-top: 10px;
}

#beef-div {
    margin-bottom: 10px;
    margin-top: 10px;
}

#sushi-div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-brand {
    font-size: 2em;
    border: 0 0 10px 10px;
    color: #FFFFFF;
}

#header-nav {
    border-radius: 0;
    background-color: rgb(112, 45, 56);
    color: #FFFFFF;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #07ff5e;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.nav-header {
    background-color: #FFFFFF;
}

.nav-brand {
    color: #FFFFFF;
    font-size: 1.5em;
}

#nav-list {
    color: white;
}

hr {
    border-color: white;
}

.item {
    color: white;
    font-size: 1.2em;
}
.item:hover{
    color: yellow;
    font-size: 2em;
}
